# Customer Segmentation

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#parse the dates while reading the csv
customer_data = pd.read_csv('../data/DM_AIAI_CustomerDB.csv', parse_dates=[ 'EnrollmentDateOpening', 'CancellationDate'])

In [4]:
customer_data.head()

,Unnamed: 0,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,...,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,...,female,Bachelor,Urban,70146.0,Married,Star,2019-02-15,NaN,3839.14,Standard
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,...,male,College,Rural,0.0,Divorced,Star,2019-03-09,NaN,3839.61,Standard
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,...,male,College,Urban,0.0,Single,Star,2017-07-14,1/8/2021,3839.75,Standard
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,...,male,College,Suburban,0.0,Single,Star,2016-02-17,NaN,3839.75,Standard
4,4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,...,male,Bachelor,Suburban,97832.0,Married,Star,2017-10-25,NaN,3842.79,2021 Promotion

In [5]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16921 entries, 0 to 16920
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               16921 non-null  int64
 1   Loyalty#                 16921 non-null  int64
 2   First Name               16921 non-null  object
 3   Last Name                16921 non-null  object
 4   Customer Name            16921 non-null  object
 5   Country                  16921 non-null  object
 6   Province or State        16921 non-null  object
 7   City                     16921 non-null  object
 8   Latitude                 16921 non-null  float64
 9   Longitude                16921 non-null  float64
 10  Postal code              16921 non-null  object
 11  Gender                   16921 non-null  object
 12  Education                16921 non-null  object
 13  Location Code            16921 non-null  object
 14  Income                   16901 non-null  float64
 15  Marital Status           16921 non-null  object
 16  LoyaltyStatus            16921 non-null  object
 17  EnrollmentDateOpening    16921 non-null  datetime64[ns]
 18  CancellationDate         2310 non-null   object
 19  Customer Lifetime Value  16901 non-null  float64
 20  EnrollmentType           16921 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(2), object(14)
memory usage: 2.7+ MB

- Unnamed 0 is just an index column, can be dropped

In [6]:
customer_data = customer_data.drop(columns=['Unnamed: 0'])
customer_data.head()

,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,M2Z 4K1,female,Bachelor,Urban,70146.0,Married,Star,2019-02-15,NaN,3839.14,Standard
1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,2019-03-09,NaN,3839.61,Standard
2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,2017-07-14,1/8/2021,3839.75,Standard
3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2016-02-17,NaN,3839.75,Standard
4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,J8Y 3Z5,male,Bachelor,Suburban,97832.0,Married,Star,2017-10-25,NaN,3842.79,2021 Promotion

In [7]:
customer_data.describe()

,Loyalty#,Latitude,Longitude,Income,EnrollmentDateOpening,Customer Lifetime Value
count,16921.000000,16921.000000,16921.000000,16901.000000,16921,16901.000000
mean,550197.393771,47.174500,-91.814768,37758.038400,2018-10-05 09:50:05.567046912,7990.460188
min,100011.000000,42.984924,-135.056840,0.000000,2015-01-27 00:00:00,1898.010000
25%,326823.000000,44.231171,-120.237660,0.000000,2017-01-17 00:00:00,3979.720000
50%,550896.000000,46.087818,-79.383186,34161.000000,2018-10-31 00:00:00,5780.180000
75%,772438.000000,49.282730,-74.596184,62396.000000,2020-07-09 00:00:00,8945.690000
max,999999.000000,60.721188,-52.712578,99981.000000,2021-12-30 00:00:00,83325.380000
std,259251.503597,3.307971,22.242429,30368.992499,NaN,6863.173093

- Loyalty is just a unique identifier and longitude and latitude may not be useful for clustering.
Income and Customer Lifetime Value are the important features for segmentation.

In [8]:
customer_data.describe(include=['object'])

,First Name,Last Name,Customer Name,Country,Province or State,City,Postal code,Gender,Education,Location Code,Marital Status,LoyaltyStatus,CancellationDate,EnrollmentType
count,16921,16921,16921,16921,16921,16921,16921,16921,16921,16921,16921,16921,2310,16921
unique,4941,15404,16921,1,11,29,75,2,5,3,3,3,1260,2
top,Deon,Salberg,Emma Martin,Canada,Ontario,Toronto,V6E 3D9,female,Bachelor,Suburban,Married,Star,7/7/2020,Standard
freq,13,4,1,16921,5468,3390,917,8497,10586,5716,9842,7761,8,15773

- The dataset is of only one country - Canada.
- The Country column can be dropped as it has no variation and won't contribute to clustering.

In [9]:
customer_data = customer_data.drop(columns=['Country'])

In [10]:
customer_data['FullName'] = customer_data['First Name'] + ' ' + customer_data['Last Name']
customer_data[['Customer Name', 'FullName']].head()

         Customer Name             FullName
0  Cecilia Householder  Cecilia Householder
1          Dayle Menez          Dayle Menez
2        Necole Hannon        Necole Hannon
3          Queen Hagee          Queen Hagee
4       Claire Latting       Claire Latting

In [11]:
(customer_data['Customer Name'] != customer_data['FullName']).sum()

np.int64(0)

- We can see that the first name and last name are present along with the customer name so we can drop those columns as they are redundant.

In [12]:
customer_data = customer_data.drop(columns=['Customer Name', 'First Name', 'Last Name'])

In [13]:
customer_data.Gender.value_counts()

Gender
female    8497
male      8424
Name: count, dtype: int64

- Male and female distribution is almost equal.

In [14]:
customer_data.Education.value_counts()

Education
Bachelor                10586
College                  4283
High School or Below      792
Doctor                    742
Master                    518
Name: count, dtype: int64

- Most of them have the Bachelors Degree.

In [15]:
customer_data['Location Code'].value_counts()

Location Code
Suburban    5716
Rural       5668
Urban       5537
Name: count, dtype: int64

In [16]:
customer_data['LoyaltyStatus'].value_counts()

LoyaltyStatus
Star      7761
Nova      5722
Aurora    3438
Name: count, dtype: int64

In [17]:
customer_data.isna().sum()

Loyalty#                       0
Province or State              0
City                           0
Latitude                       0
Longitude                      0
Postal code                    0
Gender                         0
Education                      0
Location Code                  0
Income                        20
Marital Status                 0
LoyaltyStatus                  0
EnrollmentDateOpening          0
CancellationDate           14611
Customer Lifetime Value       20
EnrollmentType                 0
FullName                       0
dtype: int64

- Income and CLV has 20 missing values and CacellationDate has 14611 missing values.

In [19]:
customer_data.isna().sum() / len(customer_data) * 100

Loyalty#                    0.000000
Province or State           0.000000
City                        0.000000
Latitude                    0.000000
Longitude                   0.000000
Postal code                 0.000000
Gender                      0.000000
Education                   0.000000
Location Code               0.000000
Income                      0.118196
Marital Status              0.000000
LoyaltyStatus               0.000000
EnrollmentDateOpening       0.000000
CancellationDate           86.348325
Customer Lifetime Value     0.118196
EnrollmentType              0.000000
FullName                    0.000000
dtype: float64

In [ ]:
- About 86.25% of the CancellationDate values are missing which indicates that most customers are still active.

In [20]:
customer_data['Province or State'].value_counts()

Province or State
Ontario                 5468
British Columbia        4416
Quebec                  3311
Alberta                 1008
Manitoba                 676
New Brunswick            652
Nova Scotia              541
Saskatchewan             412
Newfoundland             258
Yukon                    112
Prince Edward Island      67
Name: count, dtype: int64

In [21]:
customer_data['Marital Status'].value_counts()

Marital Status
Married     9842
Single      4539
Divorced    2540
Name: count, dtype: int64

In [24]:
customer_data['year'] = customer_data['EnrollmentDateOpening'].dt.year
customer_data['month'] = customer_data['EnrollmentDateOpening'].dt.month
customer_data['day'] = customer_data['EnrollmentDateOpening'].dt.day

In [23]:
customer_data['year'].value_counts()

year
2021    3033
2020    2519
2019    2477
2016    2420
2017    2407
2018    2351
2015    1714
Name: count, dtype: int64

- They have been enrolled from 2015 to 2021 with maximum enrollments in 2021.

- As we have extracted year, month and day from EnrollmentDateOpening, we can drop the original column now.

In [26]:
customer_data = customer_data.drop(columns=['EnrollmentDateOpening'])

In [28]:
customer_data[customer_data['Income'].isna()]

,Loyalty#,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,CancellationDate,Customer Lifetime Value,EnrollmentType,FullName,year,month,day
16901,999987,New Brunswick,Fredericton,46.029263,-66.565150,R4H 2Y2,female,Bachelor,Urban,NaN,Single,Star,3/7/2017,NaN,Standard,Layla Murphy,2017,3,7
16902,999988,Quebec,Montreal,45.573672,-73.523012,N6B 1N3,male,College,Rural,NaN,Single,Star,8/22/2017,NaN,Standard,Jana Parker,2017,8,22
16903,999989,Ontario,Trenton,44.075379,-77.550375,P8F 5C8,male,College,Rural,NaN,Married,Star,9/12/2015,NaN,Standard,Ethan Parker,2015,9,12
16904,999990,New Brunswick,Moncton,46.106617,-64.714267,B6P 6D0,female,College,Rural,NaN,Married,Star,6/10/2019,NaN,Standard,Ryan Anderson,2019,6,10
16905,999991,New Brunswick,Fredericton,45.950000,-66.652437,X3W 5N2,female,College,Suburban,NaN,Married,Star,7/20/2019,NaN,Standard,Olivia Cote,2019,7,20
16906,999992,Ontario,Toronto,43.706878,-79.437412,P6D 6N2,male,College,Suburban,NaN,Single,Star,3/27/2021,NaN,Standard,Ella Roy,2021,3,27
16907,999993,British Columbia,Dawson Creek,55.701475,-120.181716,W6H 0Z7,female,College,Suburban,NaN,Married,Star,1/27/2015,NaN,Standard,Elijah Cook,2015,1,27
16908,999994,Ontario,Ottawa,45.365906,-75.723181,B2F 3E1,female,College,Rural,NaN,Married,Star,5/5/2016,NaN,Standard,Ethan Chan,2016,5,5
16909,999995,Ontario,Ottawa,45.471557,-75.704868,B3A 2R0,female,College,Suburban,NaN,Married,Star,3/2/2020,NaN,Standard,Liam Wong,2020,3,2
16910,999996,Ontario,Toronto,43.690489,-79.436758,B4W 4M6,female,Bachelor,Suburban,NaN,Single,Star,9/14/2018,NaN,Standard,Isabella Ross,2018,9,14
16911,999997,New Brunswick,Moncton,46.067243,-64.729480,S5R 0X5,male,College,Urban,NaN,Married,Star,1/19/2020,NaN,Standard,Grace Miller,2020,1,19
16912,999998,Quebec,Quebec City,46.749897,-71.238050,K7T 9I9,male,Bachelor,Urban,NaN,Single,Star,1/6/2017,NaN,Standard,Noah Thompson,2017,1,6
16913,999999,Alberta,Edmonton,53.549353,-113.509109,S7D 0V1,male,Bachelor,Rural,NaN,Single,Star,3/20/2016,NaN,Standard,Noah Walker,2016,3,20
16914,100017,British Columbia,Dawson Creek,55.751178,-120.264920,E0K 5I2,male,Master,Urban,NaN,Married,Star,4/11/2017,NaN,Standard,Grace Fortin,2017,4,11
16915,100011,Ontario,Toronto,43.593187,-79.444335,W9D 4Q9,female,Bachelor,Suburban,NaN,Married,Star,5/1/2017,NaN,Standard,Amelia Ross,2017,5,1
16916,100012,Quebec,Quebec City,46.759733,-71.141009,Y0C 7D6,male,Bachelor,Suburban,NaN,Single,Star,2/27/2019,NaN,Standard,Ethan Thompson,2019,2,27
16917,100013,Alberta,Edmonton,53.524829,-113.546357,L3S 9Y3,female,Bachelor,Rural,NaN,Married,Star,9/20/2017,NaN,Standard,Layla Young,2017,9,20
16918,100014,New Brunswick,Moncton,46.051866,-64.825428,G2S 2B6,male,Bachelor,Rural,NaN,Married,Star,11/28/2020,NaN,Standard,Amelia Bennett,2020,11,28
16919,100015,Quebec,Quebec City,46.862970,-71.133444,B1Z 8T3,female,College,Urban,NaN,Married,Star,4/9/2020,NaN,Standard,Benjamin Wilson,2020,4,9
16920,100016,British Columbia,Dawson Creek,55.720562,-120.160090,M4A 1E4,female,Master,Suburban,NaN,Single,Star,7/21/2020,NaN,Standard,Emma Martin,2020,7,21

- We can see that the 20 missing Income values correspond to customers with missing Customer Lifetime Value.

In [29]:
customer_data.duplicated().sum()

np.int64(0)

- No duplicate rows found in the dataset.

In [ ]:
customer_data.to_csv('../data/customer.csv', index=False)